.inputWindow
{position:absolute; top:78vh; left:5vw; width:90vw;
}

.textInput{
    margin:5px; color:blue; float:left; width:70%; background-color:white; height:26px;
}

.speechBox{
    width: 35px; height: 35px; border-left-width: 1px;  
}


.textInput:hover{
    background-color:rgba(224, 224, 243, 0.932);
}

.speechBox:hover{
    opacity: 0.3;
}